 html {
    background-color: grey;
    background: url(images.jpg)
    no-repeat center center fixed; 
    background-size: cover;
    margin-left: 30px;
 }
 .mainContent{
     width: 800px;
     margin-left: auto;
     margin-right: auto;
 }
 header {
     text-align: center;
 }
 .name {
    font-weight: normal;
 }
 #bad {
     margin-left: 0px;
 } 
table{
    border-collapse: collapse;
    margin-top: 15px;
    background-color: white;
}
caption {
    padding-bottom: 5px;
}
th {
    border: 2px solid black;
    padding: 5px;
}
tr {
    text-align: center;
    border-right: 5px solid black;
}
tr.table:hover {
    background-color: rgb(197, 195, 195);
}
td { 
    padding: 10px;
    border: 2px solid black;
}
input {
    border: 2px solid orangered;
    border-radius: 6px;
    box-shadow: inset 8px 8px 10px 3px lightpink;
}
h1 {
    display: inline-block;
    font-family: Marker Felt, fantasy;
    font-size: 50px;
    background-color: yellowgreen;
    border-radius: 30px;
    text-align: center;
    width: 800px;
    margin-left: px;
    text-decoration: underline;
}
a:hover {
    box-shadow: inset 0 0 1em gold;
    border-radius: 30px;
    padding: 10px;   
}
    input[type="radio"]:checked + label {
    border: 2px solid red; 
    background-color: lightgreen;
    border-radius: 40px;
    padding: 5px;
}
.photo {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.info{
    display: inline-block;
    vertical-align: top;  
    margin-left: 30px;
    margin-top: 0px;
    font-family: Luminari, fantasy;
    font-size: 20px;
    text-align: left;
}
.divPhoto {
    display: inline-block;
}
img:hover {
    border: 3px solid grey;
    border-style: dotted;
    padding: 10px;
    width: 250px;
    transition: 5s;
}
div {
    margin-top: 5px;
}
h2 {
    display: inline-block;
}
.list {
    display: inline-block;
}
.list::after {
    content: '\f073';
    font-family: 'Font Awesome 5 Free';
    font-size: 23px;
    padding-left: 5px;
    text-align: center;
}
i {
    padding-right: 5px;
}
[type="number"]:hover , [type="text"]:hover , [type="date"]:hover {
    background-color: lightskyblue;
}
input[type="checkbox"]:checked + label {
    color: green;
    text-decoration: underline;
}

